//mat-icon {
  //color: red;
   //font-size: 16px;
   //font-size: 36px;
   //test
   //vertical-align: middle;
//}
.grid-container {
  display: grid;
  grid-template-areas:
  'starter header header header header ender'
  'main main main main main main'
  'footer footer footer footer footer footer';
  grid-gap: 2px;
  grid-template-columns: 60px 60px;
  grid-template-columns: .3fr 2fr;
  //background-color: #2196F3;
  //background-color: red;
  padding: 10px;
  //margin-right: 15px;
  min-height: 100vh;

  .starter { grid-area: starter;
    background-color: #e9908c;
    max-height: 12vh; 
  }
  .header { grid-area: header;
    background-color: #b9908c;
    max-height: 12vh; 
  }
  .ender { grid-area: ender;
    background-color: #e9908c;
    max-height: 12vh; 
    padding: 10px 10px;
    padding: 10px 2vw;
      //min-width:.5fr;
  }
  .main { grid-area: main; 
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 60vh;
  }
  .footer { grid-area: footer; 
    min-height: 12vh;
    //background-color: rgba(255, 255, 255, 0.5);
  }
}
.grid-container > div {
  //background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}
.material-icons {
  color:white;
  font-size:48px;
  opacity: .95;
  //padding-right: 15px;
  //margin-right:5px;
}
.mat-icons {
  color: black;
  font-size: 48px;
  opacity: .35;
  padding-right: 15px;
  //padding-top: 5px;
}
.mat-icon-button {
  margin-right:5px;
  margin-top: 2px;
}
//.header { grid-area: header;
  //background-color: #b9908c;
  //max-height: 12vh; 
//}
//.starter { grid-area: starter;
  //background-color: #e9908c;
  //max-height: 12vh; 
//}
//.main { grid-area: main; 
  //background-color: rgba(255, 255, 255, 0.5);
  //min-height: 60vh;
//}
//.footer { grid-area: footer; 
  //min-height: 12vh;
  ////background-color: rgba(255, 255, 255, 0.5);
//}
.hide-me {
  display:none;
  //visibility:hidden;
}
.show-me {
  //padding:10px;
  margin-top: 5px;
}
.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    opacity: .7;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-right:5px;
    outline: 0;
}
.button::disabled {
  cursor: none
}
.activeTab {
  color:black;
  opacity:.65;
  cursor: none;
  //pointer-events: none;
}
.activeButton {
    //box-shadow: inset 0px 1px 0px 0px #dcecfb;
    //background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    //background: linear-gradient(to bottom, #e9908c 5%, #d9908c 100%);
    background-color: #e9908c;
    background-color: #ffffff;
    opacity:.85;
    border-radius: 6px;
    //border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #b9908c;
    color: #bf7f78;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    //text-shadow: 0px 1px 0px #528ecc;
    outline: 0;
}
@media (max-width: 325px) {
 .button {
    font-size:10px;
    padding: 6px 6px;
 }
 .starter, .ender {
    padding: 10px 10px;
  }
}


@media (max-width: 415px) {
  .grid-container {
    grid-template-areas:
      'starter ender'
      'header header'
      'main main'
      'footer footer';
    grid-template-columns: 100% 100%;
    grid-template-columns: 50% 50%;
    .starter {
      max-height: 6vh;
      text-align: start;
      //justify-items: start;
      //align-items: start;
    }
    .ender {
      max-height: 6vh;
      text-align: end;
    }
    .main {
      min-height: 70vh;
    }
  }
  .header {
    max-height: 15vh;
  }
  .button {
    font-size: 12px;
    margin-top: 3px;
  }
}

