<h2>grammar works!</h2>

<!--<div class="foo">Ms Athena</div>-->
<div class="container" *ngFor="let v of vocab" >
  <div>{{v.word}}</div>
  <div>{{v.meaning}}</div>
</div>

<div class="container">
  Sulod
  <div>Come in.</div>

  <div>Gai ko bi</div>
  <div>Give me some please</div>

  <div>Buligi ko bi</div>
  <div>Help me please</div>

  <div>Tindog</div>
  <div>Stand up</div>

  <div>Pungko</div>
  <div>Sit down</div>

  <div>Gai ko bi</div>
  <div>Give me some please</div>

  <div>Buligi ko bi</div>
  <div>Help me please</div>

  <div>Tindog</div>
  <div>Stand up</div>

  <div>Pungko</div>
  <div>Sit down</div>
</div>
